html{
	height: 100%;
}


body{ 
	margin:0; 
	padding:0; 
	height:100%; 
}

#info {
	width:15%;
	float:left;
	background: gray;
	padding: .5%;
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
}

#char_sheet {

	width:60%;
	float:left;
	background-color:cyan;
	padding: .5%;
}

#char_box {
	background-color: gray;
	float: left;
	height:100%;
	overflow-y:auto;
}
.box {
	float: left;
	width: 85%;
	margin-top: 1em;
	padding: 2%;
	
	background-color: white;
}
.a_char {
	background-color:magenta;
	float:left;
	width:85%;
}

.favbutton {
	background-color:green;
	text-align: center;
	float:right;
	width:auto;
}

.s_meta{
	width: auto;
	float:none;
}

.s_meta_component{
	width: 15%;
	padding: 1%;
	float: left;
	border: solid black 2px;
	background-color: orange;
}

.s_abilities {
	clear:both;
	border: solid black 2px;
}

.mod_field {
    background-color: white
}
