<div class='s_meta'>
    <div class='s_meta_component'>
        player
    </div>
    <div class='s_meta_component'>
        char: <%=attributes.name%>
    </div>
    <div class='s_meta_component'>
        race
    </div>
    <div class='s_meta_component'>
        class/lvl
    </div>
    <div class='s_meta_component'>
        campaign
    </div>
    <br>
</div>
        
<div class='s_details'>
    <form id='manual_mod'>
        <br>
        <label for=mm_mod>Modifier</label><input id=mm_mod type=text value='mod'>
        <button id=manual_mod_submit>Submit</button>
    </form>
    
    <table id="abilities_table" class='s_abilities'></table>
    init
    Senses
</div>
<div class = 's_defense'>
    <h2>DEFENSE</h2>
    <p> AC </p>
    <p> HP </p>
    
</div>
<div class ='s_offense'>
    <h2>OFFENSE</h2>
    <div class='s_bold_box'> <div class='s_bold_box_title'>BAB</div> __ </div>
    <div class='s_bold_box'> <div class='s_bold_box_title'>CMB</div> __ </div>
    <div class='s_bold_box'> <div class='s_bold_box_title'>SPEED</div> __ </div>
    <h3>ATTACKS</h3>
    <div class='s_attack_block'>
        <div class='s_attack_chunk'></div>
    </div>
</div>
<div class = 's_stastics'>
    <div class = 's_skills'>
        Acrobatics _ranks_ _ability_ 
    </div>
    
</div>
